/* Dashboard.css holds all the styles for the dashboard page. */

/* The dashboard container is the container that holds the entire dashboard. */
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensures the container takes up the full viewport height */
  padding: 20px;
}

/* The visit list container holds the list of visits for the user. */
.visit-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 80vw;
}

/* The visit list is the list of visits for the user. */
.visit-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

/* The visit list item is the individual visit in the list. */
.visit-list-item {
  background-image: linear-gradient(315deg, #c4deab 0%, #5691c8 74%);
  border-radius: 10px;
  margin: 10px 0;
  padding: 15px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* The visit list item content is the content of the visit list item. */
.visit-list-item-content {
  text-align: center;
}

/* The visit list item title is the title of the visit list item. */
.visit-list-item:hover {
  background-color: #1e81b0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* The park list container holds the list of parks for the user. Primarily used in the addVisit Modal */
.park-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

/* The park item's are the theme Parks in the list. */
.park-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.park-item:hover {
  background-color: #1e81b0;
}

.park-item.selected {
  background-color: #1e81b0;
  font-weight: bold;
}

.park-item-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;

  background-image: linear-gradient(315deg, #c4deab 0%, #5691c8 74%);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 80vw;
}
/* The park item subtext are the details of the park item. In this case the park's indivudal Parks*/
.park-item-subtext {
  font-size: 0.9em;
  color: lightgray;
}

.dashboard-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

input[type="date"]:focus {
  border: 3px solid #555;
  outline: none;
}

input[type="date"]::placeholder {
  text-align: center;
}



