/* PageTransition.css holds the styling for the unviersal page transition effect in the program. */

.page-transition {
  position: absolute;
  width: 95vw;
  height: 95vh;
  transition: opacity 0.5s ease-in-out;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
