.page-transition {
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: opacity .5s ease-in-out;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
}
